html {
    font-size: 22px;
}
body { 
    background-color: #334;
    color: whitesmoke;
}
footer
{
    display: blue;
    justify-content: center;
    padding-block: ;
    background-color: wheat;
    color: black;
}